

/* Sections of the page */

#leftSidebar {
    float: left;
    width: 25%;

}

#mainContent {
    box-sizing: border-box;
    float: left;
    margin: 0 15% 0 15%;
    width: 20%;
    padding: 2em;
    border-radius: 5px;
    background-color:#dee4ed;
}

#rightSidebar {
    float: right;
    width: 25%;

}

.sidebar img {
    width: 100%;
}

/* Login form section */

label {
    display: block;
    padding: 0 0 1em 0;
    font-family: sans-serif;
    font-weight: bold;
}

.loginFormEntry {
    padding: 0 0 1em 0;
}

p {
    font-family: sans-serif;
}