/*
top-right-bottom-left
border radius is rounded corners
*/
#mainContent {
    box-sizing: border-box;
    float: left;
    margin: 0 40% 0 40%;
    width: 20%;
    padding: 2em 2em 0 2em;
    border-radius: 5px;
    background-color:#dee4ed;
}
/* Registration form section */

h2 {
    margin: 0;
    padding: 0 0 1em 0;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 40
}
label {
    font-family: sans-serif;
    font-weight: bold;
}

.registrationFormEntry {
    padding: 0 0 1em 0;
}

.labelWidth {
    margin-bottom: 25px;
}

#btnSubmit {
    width: 60px;
}

#btnCancel {
    width: 60px;
    margin: 25px;
}
